/* CSS Document */
@media (max-width: 991px){
	#real_time_price{
    	/* margin-left: 30%; */
    	position: relative;
        margin-top: 10px;
        margin-bottom: -50px;
    }
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url(fonts/orbitron/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#rtp_container	{
	font-family: 'Orbitron';

		/* margin: auto; */

		border-top: 1px solid #000 ;
		border-right:  1px solid #777;
		border-left: 1px solid #000;
		border-bottom:  1px solid #777;

		/* color: #999; */
		background-color: rgba(6, 35, 50,0.25);

		text-shadow: 1px 1px 2px white;

		/* -moz-border-radius:12px;
		-khtml-border-radius: 12px;
		-webkit-border-radius: 12px;
		border-radius:12px;

		width: 70%; */

		padding: 5px 5px 0px 5px;
	}

#rtp_price
{
	padding: 5px 5px 5px 5px;

	color: #003399;
	/* background-color: rgb(15,62,88); */
	/* border: 1px solid rgb(39,82,105) ; */

	text-align: center;

	min-width: 80px;
	max-width: 200px;
	width: 120px;

}
