.errorMessage {
    font-size: 0.8em;
    color: red;
    margin-top: 0px;
    padding-top: 0px;
}

a {
    text-decoration: none;
}
.easy-get:hover {
    cursor: pointer;
}

.row-keypad-mobile {
  margin-right: -30px;
  margin-left: -30px;
}


.easy-numpad-frame {
    font-family: verdana, courier, cursive, fantasy, monospace;

    position: relative;
    /* top: -18px; */
    left: 0px;

    /* width: 112%; */
    height: auto !important;
    z-index: 999999;
    display: flex;
    disp Slay: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    /* background-color: rgba(236,240,241,0.8); */
    /* background-color: #000; */

    padding: 0px 0px 0px 0px;
    /* margin-left: -18px; */

    width: 100%;
    /* top: -25px; */
}


a#easy-numpad-close {
    position: absolute;
    right: -54px;
    top: -56px;
    background-color: #f44336;
    color: #fff;
    line-height: 1;
    padding: 20px 21px;
}
.easy-numpad-frame-output-container {
  /* background-color: #000; */

}
.error-header > p {
  font-size: 14px;
}

.easy-numpad-output-container {
  position: relative;
  width: 90%;
  /* background-color: rgba(10, 20, 50, 0.8); */
  font-variant-numeric: oldstyle-nums;
  font-size: 0.7em;
  /* padding-left: 30px;
  padding-right: 30px; */
  background-color: #282828;

  border: groove;
  border-top-color: #777;
  border-left-color: #777;

  background: linear-gradient(black, darkslategray);

}
.easy-numpad-output {
    /* background-color: rgba(20, 20, 20, 0.1); */
    /* background-color: rgba(53, 43, 43, 0.8); */

    min-height: 50px;
    box-sizing: border-box;
    margin: 0px 30px 5px 0px;
    text-align: right;
    /* font-size: 0.9em; */
    /* width: 102%; */


}
.easy-numpad-output-bitcoin {
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    text-align: right;
    font-size: 0.6em;
    color: rgba(255, 120, 50, 0.8);
}
.easy-numpad-output-symbol {
    position: relative;
    /* font-size: 0.8em; */
    top:5px;
    margin-left: 5px;
    margin-right: 20px;
}
.easy-numpad-output-bitcoin-symbol {
    position: relative;
    font-size: 0.6em;
    color: rgba(255, 120, 50, 0.8);
    top:-8px;
    margin-left: 5px;
    margin-right: 20px;
}

.easy-numpad-container {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  /* padding: 30px; */
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 50px;   /* GRANDEZZA DEL CARATTERE DA VISUALIZZARE NUMPAD */
  color: white;
  background-color: #000;

  background: linear-gradient(black, #333);

  /* background-color: rgba(10, 20, 50, 0.8); */
}
.easy-numpad-number-container > table {
    width: calc(100% + 1px);
    position: relative;
    margin-bottom: 15px;
    /* background-color: #000; */
}
.easy-numpad-number-container > table td {
    /* border: 1px solid  gray; */
    /* border: 0.5px solid #f0f3f4; */
    border-style: ridge;
    border-color: black;
    border-width: thin;
}
.easy-numpad-number-container > table span {
  display: block;
  padding: 0px 0px 0px 0px;
	/* background-color: rgba(28, 46, 126, 0.8); */
  /* background-color: rgba(10, 20, 50, 0.8); */
  color: #fff;
  text-align: center;
}
.easy-numpad-number-container > table span i{
    font-size: 0.5em;
}
.fa-undo {
  color: red;
}

.easy-numpad-number-container > table tbody{
	 /* background-color: rgba(28, 46, 126, 0.8); */
   /* background-color: rgba(0, 0, 0, 0.8); */
}
.easy-numpad-number-container > table span:hover {
    background-color: #616161;
}

.easy-numpad-number-container .del {
    /* background-color: #ef5350; */
    /* color: #ef5350; */
}
.easy-numpad-number-container .done {
  position: relative;
  top: -20px;
	background-color: #388E3C;
  font-size: .7em;
}
.easy-numpad-number-container .token {
  position: relative;
  top: -20px;
  background-color: rgba(74, 135, 238, 1);
  font-size: .7em;
}
.waiting_span{
    position: relative;
    float: right;
    max-height: 31px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 76px;
}
.smaller{
    text-transform: lowercase;
    font-weight: lighter;
    font-size: smaller;
}


@media only screen and (min-width : 300px) and (max-width : 767px) {
    a#easy-numpad-close {
        right: 0px
    }
}

.card-body {
  padding: 0.25rem;
}
