.invoice{min-height:0}
.top-header{color:#fff;background-color:white;font-weight:500;letter-spacing:.5px}
@media(min-width:576px){
	.top-header{border-top-left-radius:5px;border-top-right-radius:5px}
}
.top-header .header{display:flex;min-height: 70px;}
.top-header .header__icon{
	display:inline-block;
	vertical-align:middle;
	position:relative;
	width:150px;
	height:50px;
	margin-left:0px;
	margin-top:10px
}

.top-header .timer-row{font-size:10px;background:green;display:flex;align-items:center;padding:3px 14px;position:relative;transition:background 1s ease;margin: 0px 0px 0px 0px;}
.top-header .timer-row .expiring-soon{background:#d3051e}
.top-header .timer-row .expiring-soon .timer-row__message{opacity:1}
.top-header .timer-row__spinner{display:flex;margin-left:-5px;margin-right:8px;margin-top:0px; margin-bottom: 0px;}
.top-header .timer-row__spinner svg{width:20px;height:20px;fill:#4681e2;animation:spin .5s linear infinite;margin-top:0px;transition:fill .5s ease}
.top-header .timer-row__spinner.white svg{fill:#fff}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.top-header .timer-row__message{
	text-align: left;
	flex-grow:1;
	z-index:1;
	min-height: 20px;
}
.top-header .timer-row__time-left{z-index:1}
.top-header .timer-row__progress-bar{position:absolute;height:100%;width:0%;top:0;left:0;background:rgba(0,0,0,.2)}

.order-details{display:block !important}
.order-details,.archived .order-details{display:none}
.expired.open .footer__item,.archived.open .footer__item{opacity:.8}

.currency-selection{border-bottom:1px solid #e9e9e9;position:relative;padding:4px 15px;display:flex;font-weight:300;color:#565d6e;letter-spacing:.45px;background:#fff;height:40px}
.currency-selection,.expired .order-details,.archived .order-details{dis play:none}
.single-item-order__left{display:flex;flex-direction:column;justify-content:center;font-size:11.5px}
.single-item-order__right{flex-grow:1;flex-shrink:0;padding-left:20px;text-align:right;display:flex;flex-direction:column;justify-content:center}

.payment__currencies{font-size:14px}
.payment__currencies img{height:32px}
.payment__currencies:hover .clickable_underline{border-bottom:1px dotted #000}
.payment__currencies:hover .clickable_indicator{opacity:1}

.buyerTotalLine{cursor:pointer}
.buyerTotalLine .fa-angle-double-down{opacity:.2;position:absolute;bottom:0;left:0%}
.buyerTotalLine.expanded .fa-angle-double-down{display:none !important}
.buyerTotalLine:hover .fa-angle-double-down{opacity:1}

.buyerTotalLine .fa-angle-double-up{display:none;position:absolute;bottom:0;left:0%}
.buyerTotalLine.expanded .fa-angle-double-up{display:block;opacity:.2}
.buyerTotalLine.expanded:hover .fa-angle-double-up{display:block;opacity:1}

.single-item-order{position:relative;padding:15px;display:flex;font-weight:300;color:#565d6e;letter-spacing:.45px;background:#fff;min-height:67px}
.single-item-order__left{display:flex;flex-direction:column;justify-content:center;font-size:11.5px}
.single-item-order__left__name{font-weight:600;margin-bottom:4px;text-align: left;}
.single-item-order__left__name .no-description{margin-bottom:0}
.single-item-order__left__description{line-height:16px;text-align: left;}
.single-item-order__right{flex-grow:1;flex-shrink:0;padding-left:20px;text-align:right;display:flex;flex-direction:column;justify-content:center}
.single-item-order__right__fiat-price{font-size:14px;margin-bottom:3px;font-weight:400}
.single-item-order__right__ex-rate{font-style:italic;font-size:11px}
.single-item-order__right__btc-price{font-size:14px}

.fa-angle-double-up{text-align: center; width: 100%;display:none;}
.fa-angle-double-down{text-align: center; width: 100%;}


line-items{background:#fbfbfb;border-top:1px solid rgba(238,238,238,.5);z-index:2;}
line-items .line-items{padding:10px 1rem;color:#333}
line-items .line-items__header{border-top:1px dashed rgba(151,151,151,.3);padding-top:.75rem;padding-bottom:.5rem;margin-top:.75rem;margin-bottom:3px;font-size:16px;font-weight:400}
line-items .line-items__header--first{border:0;padding-top:0;margin-top:0;margin-top:-.25rem}
line-items .line-items__item{display:flex;font-size:12px;font-weight:100;padding:2px 0}
line-items .line-items_fiatvalue{margin-top:-5px}
line-items .line-items__item__label{flex-grow:1;display:flex;align-items:center;color:#666;opacity:1;font-weight:600}
line-items .line-items__item__value{font-weight:600}
line-items .line-items__item__label>a{display:block;margin-top:-2px;margin-left:5px}
line-items .line-items__item--total{font-weight:600;margin-top:2px;margin-top:10px}
line-items .line-items__item--success{color:#1db670}
line-items .line-items__item--warn{color:#ff9405}

.payment-tabs{position:relative;background:#fff;border-top:1px solid #e9e9e9;display:flex;font-size:13.5px;box-shadow:0 5px 7px 0 rgba(0,0,0,.09);color:#818ea9;font-weight:300}
.payment-tabs__tab{text-align:center;flex:1;padding:12px;outline:none;letter-spacing:.8px;cursor:pointer}
.payment-tabs__tab.active{color:#214497;font-weight:400}
.payment-tabs__slider{position:absolute;height:5px;width:50%;background:#329f80;top:0;right:50%;transition:all .2s ease}
.payment-tabs__slider.slide-copy{right:0}
.payment-tabs__slider.three-tabs{width:33%;right:67%}
.payment-tabs__slider.three-tabs.slide-copy{right:33%}
.payment-tabs__slider.three-tabs.slide-altcoins{right:0}

.payment-box{padding-top:15px;position:relative;margin-bottom:1.5rem !important;margin-bottom:0 !important;min-height:320px;background: #fefefe;}
.payment__scan{position:relative;text-align:center;margin-top: 30px;}

.bp-view{padding-top:1em;padding-bottom:2em;position:absolute;padding-left:30px;padding-right:30px;width:100%}
.bp-view#paid{padding-bottom:0}
.bp-view#paid.pad{padding-bottom:30px}
.bp-view.enter-contact-email{padding-left:40px;padding-right:40px}
.bp-view.scan{padding-top:0 !important}
.bp-view:not(.active){opacity:0;pointer-events:none}
.bp-view:not(.active) *{cursor:default}
.bp-view.active{z-index:9999}
.bp-view.paid-full{padding-top:30px;padding-bottom:0}
.bp-view.paid-full .success-message{padding-top:27px;padding-bottom:40px}

.manual__step-two__instructions{text-align:center;font-size:13px;padding:10px 10px;color:#515664;font-weight:300;opacity:.7}
.copyBox{text-align:center;position:relative;border-radius:5px;border:1px solid #e9e9e9;background:#fff}
.copySectionBox{padding:12px 10px}
.copySectionBox label{text-transform:uppercase;font-size:10px;color:#515664;opacity:.5;letter-spacing:.6px;margin-bottom:10px}
.copySectionBox.bottomBorder{border-bottom:1px solid #e9e9e9}
.inputWithIcon .checkoutTextbox{padding-left:31px}
.inputWithIcon{position:relative; white-space: initial;word-wrap: break-word;}
.inputWithIcon img{position:absolute;left:2px;top:9px;color:#aaa;height:16px;padding:0 4px;border-right:1px solid #e9e9e9}
.inputWithIcon.inputIconBg img{background-color:#aaa;color:#fff;padding:9px 4px;border-radius:4px 0 0 4px}

.separatorGem{position:relative;height:10px;width:10px;left:50%;border-right:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;transform:rotateZ(45deg);margin-left:-5px;top:-5px;background:#329f80;transform-style:preserve-3d;backface-visibility:hidden;margin-bottom:-10px}
.copyAmountText{color:#4a4a4a;font-size:30px;font-weight:300;letter-spacing:1px;margin-top:-10px;position:relative}
.copy-cursor{cursor:copy}
.clipboardCopied{transition:opacity 1s ease;opacity:0}
.copyLabelPopup{pointer-events:none;cursor:default;transition:opacity 1s ease;position:fixed;width:130px;top:0;left:0;opacity:0;font-weight:300;font-size:14px;color:#fff;background:#4a4a4a;padding:10px 40px;border-radius:3px;letter-spacing:.5px;z-index:999999}
.copyLabelPopup.copied{pointer-events:auto;opacity:1;transition:opacity 1s ease}

.copyright{font-size: 0.7em;}
.return-button{padding-top:10px;position:relative;}
.au-btn--blue{color: white;margin-bottom: 10px;}
.modal-backdrop{z-index: 0;}
.modal-body{word-wrap: break-word;}

.expired__body{padding:0 8px 0;margin-top:-10px;}
.expired__header{font-weight:300;font-size:20px}
.expired__text{
	margin-top:20px;
	font-size:12px;
	/* font-weight:300; */
}
.expired__text .expired__text__smaller{font-size:11px}
.expired__text__bullet{font-weight:500}

.status-block{position:relative}
.status-block>.success-block{position:relative;opacity:1}
.status-icon{position:relative;text-align:center}
.inner-wrapper{position:relative;padding:1px}
.status-icon__wrapper .inner-wrapper{position:relative;padding:1px}
.status-icon__wrapper__outline{display:flex;align-items:center;justify-content:center;text-align:center;border-radius:50%;height:154px;width:154px;border:2px solid #13e5b6}
.status-icon__wrapper__outline{animation:none !important}
.status-icon__wrapper__icon{height:100%;width:100%;position:absolute;display:flex;align-items:center;justify-content:center}
.status-icon__wrapper__outline_partial{display:flex;align-items:center;justify-content:center;text-align:center;border-radius:50%;height:154px;width:154px;border:2px solid #e51300}
.status-icon__wrapper__outline_over{display:flex;align-items:center;justify-content:center;text-align:center;border-radius:50%;height:154px;width:154px;border:2px dashed #4618e9}



.qrcode-hidden {
	display:none;
}
	.page-container {
		top: 0px;
		padding-left:0px;
	}
	.main-content{
		padding-top: 0px;
	}
	.container-fluid {
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
	}
	.col-lg-6{
		padding: 0px;
	}
