<?php
// This is the database connection configuration.
return array(
	'emulatePrepare' => true,
	'charset' => 'utf8',
	'username' => 'root',
	'connectionString' => 'mysql:host=localhost;port=3306;dbname=',
	'password' => ''
);
